<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>用户 & 文章</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <script type="text/x-template" id="user-template">
      <div>

        <div>
            <el-button @click="handleOpen">新用户</el-button>
        </div>
        <div>
          <el-table :data="tableData" style="width: 100%" v-loading="loading">
            <el-table-column type="index" label="#" width="60"></el-table-column>
            <el-table-column prop="nickname" label="昵称" width="180"></el-table-column>
            <el-table-column prop="username" label="用户名" width="180"></el-table-column>
            <el-table-column prop="password" label="密码" width="180"></el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-button type="danger" size="small" @click="handleRemove(scope.row)">删除</el-button>
                <el-button v-if="hasHolded(scope.row)" type="primary" size="small" @click="handleRelease(scope.row)" >释放</el-button>
                <el-button v-else type="primary" size="small" @click="handleHold(scope.row)"  :disabled="!canHolded(scope.row)">持有</el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <el-dialog
            width="30%"
            :visible.sync="dialogVisible"
            @open="onOpen"
            @close="onClose"
            title="新用户">
            <el-form ref="elForm" :model="formData" :rules="rules" size="medium" label-width="100px">
              <el-form-item label="用户名" prop="username">
                <el-input v-model="formData.username" placeholder="请输入用户名" clearable :style="{width: '100%'}">
                </el-input>
              </el-form-item>
              <el-form-item label="密码" prop="password">
                <el-input v-model="formData.password" placeholder="请输入密码" clearable show-password
                  :style="{width: '100%'}"></el-input>
              </el-form-item>
              <el-form-item label="昵称" prop="nickname">
                <el-input v-model="formData.nickname" placeholder="请输入昵称" clearable :style="{width: '100%'}"></el-input>
              </el-form-item>
            </el-form>
            <div slot="footer">
              <el-button @click="close">取消</el-button>
              <el-button type="primary" @click="handelConfirm">确定</el-button>
            </div>
          </el-dialog>
        </div>
    </script>

    <script type="text/x-template" id="article-template">
      <div>
        <div>
            <el-button @click="handleOpen">新文章</el-button>
            <el-button v-if="user" @click="handleSelectMode">
              <span v-if="personal" >访问模式</span>
              <span v-else >个人模式</span>
            </el-button>
        </div>
        <div>
          <el-table  :data="tableData" style="width: 100%" v-loading="loading">
            <el-table-column type="index" label="#" width="60"></el-table-column>
            <el-table-column prop="title" label="标题" width="180"></el-table-column>
            <el-table-column prop="poster" label="作者" width="180"></el-table-column>
            <el-table-column prop="votes" label="票数" width="180"></el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <div v-if="user">
                  <span v-if="personal">
                    <el-button type="danger" size="small" @click="handleRemove(scope.row)">删除</el-button>      
                    <el-button type="primary" size="small" @click="handlePublish(scope.row)">发布</el-button>      
                  </span>
                  <span v-else style="margin-left: 8px;">
                    <el-button type="primary" size="small" @click="handleLike(scope.row)">点赞</el-button> 
                  </span> 
                </div>    
              </template>
            </el-table-column>
          </el-table>
        </div>
        <el-dialog
            width="40%"
            :visible.sync="dialogVisible"
            @open="onOpen"
            @close="onClose"
            title="新用户">
            <el-form ref="elForm" :model="formData" :rules="rules" size="medium" label-width="100px">
            <el-form-item label="作者" prop="poster">
                <el-input v-model="formData.poster" placeholder="请输入作者" clearable :style="{width: '100%'}"></el-input>
            </el-form-item>
            <el-form-item label="标题" prop="title">
                <el-input v-model="formData.title" placeholder="请输入标题" clearable :style="{width: '100%'}"></el-input>
            </el-form-item>
            <el-form-item label="内容" prop="content">
                <el-input v-model="formData.content" type="textarea" placeholder="请输入内容"
                :autosize="{minRows: 4, maxRows: 4}" :style="{width: '100%'}"></el-input>
            </el-form-item>
            </el-form>
            <div slot="footer">
            <el-button @click="close">取消</el-button>
            <el-button type="primary" @click="handelConfirm">确定</el-button>
            </div>
        </el-dialog>
      </div>
    </script>

    <div id="app">
      <el-row>
        <el-col :span="12">
          <user-component @update-user="updateUser"></user-component>
        </el-col>
        <el-col :span="12">
          <article-component :user="user"></article-component>
        </el-col>
      </el-row>
    </div>

    <script>
      const request = axios.create({
        timeout: 10000,
      });
    </script>

    <script src="assets/js/user.js"></script>
    <script src="assets/js/article.js"></script>

    <script src="assets/js/index.js"></script>
  </body>
</html>
